<div id="contenido">
    <h1 class="title">Services</h1>
    <div class="container-md contenedorAboutUs">
        <p>We offer a trading service that allows our client to sell and buy all kinds of digital products. Giving our
            customers and clients a simple interface to trade their goods.
            Currently, we have three payment methods ( Paypal, Credit/Debit card, and Bitcoin) to either pay as a buyer
            or get payed as a seller.
            Every seller has his public profile where buyers can make reviews about the products they acquired and rate
            them, so buyers can know who are they purchasing from.
        </p>
    </div>
    <div class="container-md contenedorAboutUs">
        <div class="row align-items-start">
            <div class="col">
                <p class="name">Sell</p>
                <p>
                    On Tikhon Marketplace you are able to sell your products in a simple and secure way, with an intuitive interface and a clean
                    and secure transaction, you can post multiple goods on your profile and you buyers will be able to rate you as a seller! We take a 10%
                    cut of all the transactions.
                </p>
            </div>
            <div class="col">
                <p class="name">Buy</p>
                <p>
                    Tikhon Marketplace will always be a good option to acquire videogame accounts, items, skins, or whatever the sellers offer! Our job
                    is to guarantee a secure and clean transaction of the products and payments. You have multiple payment methods so you can pay with the
                    one you desire!
                </p>
            </div>
            <div class="col">
                <p class="name">Trade</p>
                <p>
                    If you are willing to purchase or sell a products in exchange to another product, you are also able to! With this option you can do that and
                    have no commisions on it, we provide a secure transaction so no side can scam the other.
                </p>
            </div>
        </div>
    </div>

</div>