#contenido {
    transition: margin-left 0.5s linear;
}

.title {
    text-align: center;
    color: #3E514F;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 40px;
}

.contenedorAboutUs {
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.name {
    text-align: center;
    color: #3E514F;
    font-size: 25px;
}

p {
    text-align: justify;
    font-size: large;
}