<div id="contenido">
    <!-- ABOUT US -->
    <h1 class="title">About us</h1>
    <div class="container-md contenedorAboutUs">
        <p>We are three web development students that made a webpage for our final project, we have created a trading
            marketplace site that allows people to buy and sell online products from video games, such as game keys,
            game items or games itselves in a simple way. We got this idea from the concept of transforming other
            webpages and applications like Wallapop or Facebook Marketplaces but for online goods.</p>
    </div>
    <!-- MIEMBROS -->
    <div class="container-md contenedorAboutUs">
        <div class="row align-items-start">
            <div class="col">
                <!-- UNAI -->
                <p class="name">Unai Manzano</p>
                <hr>
                <p>I have started on Web Development in 2020 after finishing a degree on IT Systems and Networks. I have
                    always liked computers and doing things with them, so I guess now they are doing things for me.
                </p>
            </div>
            <div class="col">
                <!-- JOEL -->
                <p class="name">Joel Rincón</p>
                <hr>
                <p>Since I was a kid, I like play video games, when I was in High School I wanted to study video games
                    developing. I search what I have to study to be a video games developer, I found I have to study a
                    lower vocational training in microcomputers systems and networks, in that years I learn a bit of web
                    development, and I like it.
                </p>
            </div>
            <div class="col">
                <!-- MARC -->
                <p class="name">Marc Iñiguez</p>
                <hr>
                <p> I’ve been studying web development for a few years and now I have started a project with two
                    companions. I always wanted to be a programmer so I hope this will be a good chance to become one.
                </p>
            </div>
        </div>
    </div>

</div>