<div id="contenido">
    <h1 class="sectionTitle">Recursos</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- ABOUT -->
                <p class="subtitle" routerLink="/about">About</p>
                <hr class="hrSubtitle">
                <p class="content">We are three web development students that made a webpage for our final project, we
                    have created a trading marketplace site that allows people to buy and sell online products from
                    video games, such as game keys, game items or games itselves in a simple way. We got this idea from
                    the concept of transforming other webpages and applications like Wallapop or Facebook Marketplaces
                    but for online goods.</p>
            </div>
            <div class="col">
                <!-- SERVICES -->
                <p class="subtitle" routerLink="/services">Services</p>
                <hr class="hrSubtitle">
                <p class="content">We offer a trading service that allows our client to sell and buy all kinds of
                    digital products. Giving our customers and clients a simple interface to trade their goods.
                    <br>
                    Currently, we have three payment methods ( Paypal, Credit/Debit card, and Bitcoin) to either pay as
                    a buyer or get payed as a seller.
                    <br>
                    Every seller has his public profile where buyers can make reviews about the products they acquired
                    and rate them, so buyers can know who are they purchasing from.
                </p>
            </div>
            <div class="col">
                <!-- CLIENTS -->
                <p class="subtitle" routerLink="/clients">Clients</p>
                <hr class="hrSubtitle">
                <p class="content">Our clients are the sellers! The requirements to be able to sell are pretty basic,
                    just some basic information like ID, Name and address and you are ready to sell after adding the
                    payment information on the wallet tab.</p>
            </div>
            <div class="col">
                <!-- CONTACT -->
                <p class="subtitle" routerLink="/contact">Contact</p>
                <hr class="hrSubtitle">
                <p class="content">If you have any question, please, first go to the FAQ section, if you still have
                    questions, feel free to contact us via email through the form below or you can message or call us at
                    this phone number: 123456789
                </p>
            </div>
        </div>
        
    </div>
</div>