<div id="contenido">
  <h1 class="title">Contact</h1>
  <div class="contenedorContact">
    <p>If you have any question, go first to the FAQ section, if you still have questions, feel free to contact us via
      email through the form below or you can message or call us at this phone number: 123456789</p>
  </div>

  <div class="contenedorContact">
    <textarea class="textArea" aria-label="With textarea" placeholder="Cuentanos, que problema tienes?" rows="4" cols="60"></textarea>
    <br>
    <input type="text" class="nombreInput" placeholder="Username">
    <br>
    <button class="sendButton">Send</button>
  </div>
</div>
